
body {
    font-family: sans-serif;
  }
  
  .app {
    display: flex;
    justify-content: center;
  }
  
  .app main {
    width: 100%;
    max-width: 500px;
  }
  
  .app-title {
    color: hsl(240, 51%, 48%);
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    padding: 1rem;
    background-color: hsl(240, 100%, 95%);
    border-radius: 0.5rem;
  }